<h1 class="mat-display-1">{{ data.dialogType }} your Contact</h1>
<p class="error">{{ error }}</p>
<div>
  <form [formGroup]="form" autocomplete="off">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error>Name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phone_number" />
      <mat-error>Please Enter valid number</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email ID</mat-label>
      <input matInput formControlName="email_id" />
      <mat-error>Enter Valid Email ID</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <textarea matInput rows="3" formControlName="address"></textarea>
    </mat-form-field>
    <h3 *ngIf="commonIn && editMode">Common in {{ commonIn.length }} Group</h3>
    <li *ngFor="let group of commonIn">{{ group }}</li>
    <div style="display: flex;">
      <span class="spacer"></span>
      <mat-spinner [diameter]="25" *ngIf="!loading"></mat-spinner>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid || !loading"
        (click)="submitForm()"
      >
        <mat-icon>{{
          data.dialogType === "Create" ? "class" : "create"
        }}</mat-icon>
        {{ data.dialogType === "Create" ? "Create" : "Edit" }}
      </button>
      <button
        *ngIf="data.dialogType === 'Edit'"
        mat-raised-button
        color="warn"
        type="button"
        [disabled]="!loading"
        (click)="onDeleteClick()"
      >
        <i class="material-icons">delete</i>
        Delete
      </button>
      <button
        mat-button
        color="primary"
        type="button"
        [disabled]="!loading"
        (click)="onCancleClick()"
      >
        Close
      </button>
    </div>
  </form>
</div>
