<h1 *ngIf="!editMode" class="mat-display-1">
  {{ data.dialogType }} your Group
</h1>
<h1 *ngIf="editMode" class="mat-display-1">
  <mat-icon>group</mat-icon>
  {{ data.group.name | titlecase }}
</h1>
<p class="error">{{ error }}</p>
<form [formGroup]="form" autocomplete="off">
  <mat-form-field class="container" *ngIf="!editMode">
    <mat-label>Group Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <div>
    <div class="container" [ngClass]="{ 'edit-mode': editMode === true }">
      <div
        cdkDropList
        #contactsList="cdkDropList"
        [cdkDropListData]="contacts"
        [cdkDropListConnectedTo]="groupList"
        class="list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="list-item" *ngFor="let item of contacts" cdkDrag>
          {{ item.name | titlecase }}
          <mat-card *cdkDragPreview>
            <mat-card-header>
              <mat-card-title>{{ item.name | titlecase }}</mat-card-title>
              <mat-card-subtitle>{{ item.phone_number }}</mat-card-subtitle>
              <mat-card-subtitle>{{ item.email_id }}</mat-card-subtitle>
              <mat-card-subtitle>{{ item.address }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      <p>Drang and drop the contacts</p>
    </div>

    <div class="container">
      <div
        cdkDropList
        #groupList="cdkDropList"
        [cdkDropListData]="group"
        [cdkDropListConnectedTo]="contactsList"
        class="list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="list-item" *ngFor="let item of group" cdkDrag>
          {{ item.name | titlecase }}
          <mat-card *cdkDragPreview>
            <mat-card-header>
              <mat-card-title>{{ item.name | titlecase }}</mat-card-title>
              <mat-card-subtitle>{{ item.phone_number }}</mat-card-subtitle>
              <mat-card-subtitle>{{ item.email_id }}</mat-card-subtitle>
              <mat-card-subtitle>{{ item.address }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      <div style="display: flex;">
        <span class="spacer"></span>
        <mat-spinner [diameter]="25" *ngIf="!loading"></mat-spinner>
        <button
          *ngIf="!editMode"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid || !loading"
          (click)="submitGroup()"
        >
          <mat-icon>class</mat-icon>
          {{ data.dialogType === "Create" ? "Create" : "Save" }}
        </button>
        <button mat-button *ngIf="editMode" (click)="toggleEditMode()">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        <button
          mat-stroked-button
          *ngIf="data.dialogType === 'Edit' && !editMode"
          (click)="toggleEditMode()"
        >
          <mat-icon>close</mat-icon>
          Cancle edit
        </button>
        <button
          *ngIf="data.dialogType === 'Edit' && editMode"
          mat-raised-button
          color="warn"
          type="button"
          [disabled]="!loading"
          (click)="deleteGroup()"
        >
          <i class="material-icons">delete</i>
          Delete
        </button>
        <button
          mat-button
          color="primary"
          type="button"
          (click)="onCancleClick()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</form>
